<p id="notice"><%= notice %></p>

<h1>Ideas</h1><br>

<% if current_user %>
<%= link_to 'New Idea', new_idea_path %><br><br>
<% end %>

    <div class="container">
      <% @ideas.reverse.each do |idea| %>
        
        <%= render 'idea', idea: idea %>

        
      <% end %>
    </div>
  


<br>


