<p id="notice"><%= notice %></p>
<div class="container">

  <div class="row justify-content-center">
      <h1 class="text-center">Ideas</h1><br>
  </div>

  <% if current_user %>
    <div class="row justify-content-center">
      <h2 class="text-center"><%= link_to 'New', new_idea_path %></h2>
    </div>
  <% end %>


  <% i = 0 %>
  <% until i >= @ideas.length %>

    <div class="row justify-content-center">
      <div class="col-6-md row-sm mx-1">
        <%= render 'idea', idea: @ideas.reverse[i] %>
      </div>
      <div class="col-6-md row-sm mx-1">
        <%= render 'idea', idea: @ideas.reverse[i + 1] if @ideas.reverse[i + 1] %>
      </div>

    </div>

    <% i += 2 %>

  <% end %>



</div>
